In [1]:
# Dependencies
import pandas as pd

In [2]:
# Read in moon data from 2024 and display data
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2024-01-10&nump=50&format=t&submit=Get+Data'

moon_data_2024 = pd.read_html(url)
moon_data_2024

[       Moon Phase         Date Time (Universal Time)
 0        New Moon  2024 Jan 11                 11:57
 1   First Quarter  2024 Jan 18                 03:52
 2       Full Moon  2024 Jan 25                 17:54
 3    Last Quarter   2024 Feb 2                 23:18
 4        New Moon   2024 Feb 9                 22:59
 5   First Quarter  2024 Feb 16                 15:01
 6       Full Moon  2024 Feb 24                 12:30
 7    Last Quarter   2024 Mar 3                 15:23
 8        New Moon  2024 Mar 10                 09:00
 9   First Quarter  2024 Mar 17                 04:11
 10      Full Moon  2024 Mar 25                 07:00
 11   Last Quarter   2024 Apr 2                 03:15
 12       New Moon   2024 Apr 8                 18:21
 13  First Quarter  2024 Apr 15                 19:13
 14      Full Moon  2024 Apr 23                 23:49
 15   Last Quarter   2024 May 1                 11:27
 16       New Moon   2024 May 8                 03:22
 17  First Quarter  2024 May 15                 11:48
 18      Full Moon  2024 May 23                 13:53
 19   Last Quarter  2024 May 30                 17:13
 20       New Moon   2024 Jun 6                 12:38
 21  First Quarter  2024 Jun 14                 05:18
 22      Full Moon  2024 Jun 22                 01:08
 23   Last Quarter  2024 Jun 28                 21:53
 24       New Moon   2024 Jul 5                 22:57
 25  First Quarter  2024 Jul 13                 22:49
 26      Full Moon  2024 Jul 21                 10:17
 27   Last Quarter  2024 Jul 28                 02:51
 28       New Moon   2024 Aug 4                 11:13
 29  First Quarter  2024 Aug 12                 15:19
 30      Full Moon  2024 Aug 19                 18:26
 31   Last Quarter  2024 Aug 26                 09:26
 32       New Moon   2024 Sep 3                 01:55
 33  First Quarter  2024 Sep 11                 06:05
 34      Full Moon  2024 Sep 18                 02:34
 35   Last Quarter  2024 Sep 24                 18:50
 36       New Moon   2024 Oct 2                 18:49
 37  First Quarter  2024 Oct 10                 18:55
 38      Full Moon  2024 Oct 17                 11:26
 39   Last Quarter  2024 Oct 24                 08:03
 40       New Moon   2024 Nov 1                 12:47
 41  First Quarter   2024 Nov 9                 05:55
 42      Full Moon  2024 Nov 15                 21:28
 43   Last Quarter  2024 Nov 23                 01:28
 44       New Moon   2024 Dec 1                 06:21
 45  First Quarter   2024 Dec 8                 15:26
 46      Full Moon  2024 Dec 15                 09:02
 47   Last Quarter  2024 Dec 22                 22:18
 48       New Moon  2024 Dec 30                 22:27
 49  First Quarter   2025 Jan 6                 23:56]

In [3]:
# Create DataFrame and display top 5 rows
moon_data_2024_df = moon_data_2024[0]
moon_data_2024_df.info()
moon_data_2024_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0       New Moon  2024 Jan 11                 11:57
1  First Quarter  2024 Jan 18                 03:52
2      Full Moon  2024 Jan 25                 17:54
3   Last Quarter   2024 Feb 2                 23:18
4       New Moon   2024 Feb 9                 22:59

In [4]:
# Read in moon data from 2023 and disply data
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2023-01-10&nump=50&format=t&submit=Get+Data'

moon_data_2023 = pd.read_html(url)
moon_data_2023

[       Moon Phase         Date Time (Universal Time)
 0    Last Quarter  2023 Jan 15                 02:10
 1        New Moon  2023 Jan 21                 20:53
 2   First Quarter  2023 Jan 28                 15:19
 3       Full Moon   2023 Feb 5                 18:28
 4    Last Quarter  2023 Feb 13                 16:01
 5        New Moon  2023 Feb 20                 07:06
 6   First Quarter  2023 Feb 27                 08:06
 7       Full Moon   2023 Mar 7                 12:40
 8    Last Quarter  2023 Mar 15                 02:08
 9        New Moon  2023 Mar 21                 17:23
 10  First Quarter  2023 Mar 29                 02:32
 11      Full Moon   2023 Apr 6                 04:34
 12   Last Quarter  2023 Apr 13                 09:11
 13       New Moon  2023 Apr 20                 04:12
 14  First Quarter  2023 Apr 27                 21:20
 15      Full Moon   2023 May 5                 17:34
 16   Last Quarter  2023 May 12                 14:28
 17       New Moon  2023 May 19                 15:53
 18  First Quarter  2023 May 27                 15:22
 19      Full Moon   2023 Jun 4                 03:42
 20   Last Quarter  2023 Jun 10                 19:31
 21       New Moon  2023 Jun 18                 04:37
 22  First Quarter  2023 Jun 26                 07:50
 23      Full Moon   2023 Jul 3                 11:39
 24   Last Quarter  2023 Jul 10                 01:48
 25       New Moon  2023 Jul 17                 18:32
 26  First Quarter  2023 Jul 25                 22:07
 27      Full Moon   2023 Aug 1                 18:32
 28   Last Quarter   2023 Aug 8                 10:28
 29       New Moon  2023 Aug 16                 09:38
 30  First Quarter  2023 Aug 24                 09:57
 31      Full Moon  2023 Aug 31                 01:35
 32   Last Quarter   2023 Sep 6                 22:21
 33       New Moon  2023 Sep 15                 01:40
 34  First Quarter  2023 Sep 22                 19:32
 35      Full Moon  2023 Sep 29                 09:57
 36   Last Quarter   2023 Oct 6                 13:48
 37       New Moon  2023 Oct 14                 17:55
 38  First Quarter  2023 Oct 22                 03:29
 39      Full Moon  2023 Oct 28                 20:24
 40   Last Quarter   2023 Nov 5                 08:37
 41       New Moon  2023 Nov 13                 09:27
 42  First Quarter  2023 Nov 20                 10:50
 43      Full Moon  2023 Nov 27                 09:16
 44   Last Quarter   2023 Dec 5                 05:49
 45       New Moon  2023 Dec 12                 23:32
 46  First Quarter  2023 Dec 19                 18:39
 47      Full Moon  2023 Dec 27                 00:33
 48   Last Quarter   2024 Jan 4                 03:30
 49       New Moon  2024 Jan 11                 11:57]

In [5]:
# Create DataFrame and display top 5 rows
moon_data_2023_df = moon_data_2023[0]
moon_data_2023_df.info()
moon_data_2023_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0   Last Quarter  2023 Jan 15                 02:10
1       New Moon  2023 Jan 21                 20:53
2  First Quarter  2023 Jan 28                 15:19
3      Full Moon   2023 Feb 5                 18:28
4   Last Quarter  2023 Feb 13                 16:01

In [6]:
# Read in moon data from 2022
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2022-01-10&nump=50&format=t&submit=Get+Data'
moon_data_2022 = pd.read_html(url)
moon_data_2022

[       Moon Phase         Date Time (Universal Time)
 0       Full Moon  2022 Jan 17                 23:48
 1    Last Quarter  2022 Jan 25                 13:41
 2        New Moon   2022 Feb 1                 05:46
 3   First Quarter   2022 Feb 8                 13:50
 4       Full Moon  2022 Feb 16                 16:56
 5    Last Quarter  2022 Feb 23                 22:32
 6        New Moon   2022 Mar 2                 17:35
 7   First Quarter  2022 Mar 10                 10:45
 8       Full Moon  2022 Mar 18                 07:17
 9    Last Quarter  2022 Mar 25                 05:37
 10       New Moon   2022 Apr 1                 06:24
 11  First Quarter   2022 Apr 9                 06:48
 12      Full Moon  2022 Apr 16                 18:55
 13   Last Quarter  2022 Apr 23                 11:56
 14       New Moon  2022 Apr 30                 20:28
 15  First Quarter   2022 May 9                 00:21
 16      Full Moon  2022 May 16                 04:14
 17   Last Quarter  2022 May 22                 18:43
 18       New Moon  2022 May 30                 11:30
 19  First Quarter   2022 Jun 7                 14:48
 20      Full Moon  2022 Jun 14                 11:52
 21   Last Quarter  2022 Jun 21                 03:11
 22       New Moon  2022 Jun 29                 02:52
 23  First Quarter   2022 Jul 7                 02:14
 24      Full Moon  2022 Jul 13                 18:38
 25   Last Quarter  2022 Jul 20                 14:19
 26       New Moon  2022 Jul 28                 17:55
 27  First Quarter   2022 Aug 5                 11:06
 28      Full Moon  2022 Aug 12                 01:36
 29   Last Quarter  2022 Aug 19                 04:36
 30       New Moon  2022 Aug 27                 08:17
 31  First Quarter   2022 Sep 3                 18:08
 32      Full Moon  2022 Sep 10                 09:59
 33   Last Quarter  2022 Sep 17                 21:52
 34       New Moon  2022 Sep 25                 21:54
 35  First Quarter   2022 Oct 3                 00:14
 36      Full Moon   2022 Oct 9                 20:55
 37   Last Quarter  2022 Oct 17                 17:15
 38       New Moon  2022 Oct 25                 10:49
 39  First Quarter   2022 Nov 1                 06:37
 40      Full Moon   2022 Nov 8                 11:02
 41   Last Quarter  2022 Nov 16                 13:27
 42       New Moon  2022 Nov 23                 22:57
 43  First Quarter  2022 Nov 30                 14:36
 44      Full Moon   2022 Dec 8                 04:08
 45   Last Quarter  2022 Dec 16                 08:56
 46       New Moon  2022 Dec 23                 10:17
 47  First Quarter  2022 Dec 30                 01:20
 48      Full Moon   2023 Jan 6                 23:08
 49   Last Quarter  2023 Jan 15                 02:10]

In [7]:
# Create DataFrame and display top 5 rows
moon_data_2022_df = moon_data_2022[0]
moon_data_2022_df.info()
moon_data_2022_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0      Full Moon  2022 Jan 17                 23:48
1   Last Quarter  2022 Jan 25                 13:41
2       New Moon   2022 Feb 1                 05:46
3  First Quarter   2022 Feb 8                 13:50
4      Full Moon  2022 Feb 16                 16:56

In [8]:
# Read in moon data from 2021
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2021-01-10&nump=50&format=t&submit=Get+Data'
moon_data_2021 = pd.read_html(url)
moon_data_2021

[       Moon Phase         Date Time (Universal Time)
 0        New Moon  2021 Jan 13                 05:00
 1   First Quarter  2021 Jan 20                 21:01
 2       Full Moon  2021 Jan 28                 19:16
 3    Last Quarter   2021 Feb 4                 17:37
 4        New Moon  2021 Feb 11                 19:06
 5   First Quarter  2021 Feb 19                 18:47
 6       Full Moon  2021 Feb 27                 08:17
 7    Last Quarter   2021 Mar 6                 01:30
 8        New Moon  2021 Mar 13                 10:21
 9   First Quarter  2021 Mar 21                 14:40
 10      Full Moon  2021 Mar 28                 18:48
 11   Last Quarter   2021 Apr 4                 10:02
 12       New Moon  2021 Apr 12                 02:31
 13  First Quarter  2021 Apr 20                 06:59
 14      Full Moon  2021 Apr 27                 03:31
 15   Last Quarter   2021 May 3                 19:50
 16       New Moon  2021 May 11                 19:00
 17  First Quarter  2021 May 19                 19:13
 18      Full Moon  2021 May 26                 11:14
 19   Last Quarter   2021 Jun 2                 07:24
 20       New Moon  2021 Jun 10                 10:53
 21  First Quarter  2021 Jun 18                 03:54
 22      Full Moon  2021 Jun 24                 18:40
 23   Last Quarter   2021 Jul 1                 21:11
 24       New Moon  2021 Jul 10                 01:17
 25  First Quarter  2021 Jul 17                 10:11
 26      Full Moon  2021 Jul 24                 02:37
 27   Last Quarter  2021 Jul 31                 13:16
 28       New Moon   2021 Aug 8                 13:50
 29  First Quarter  2021 Aug 15                 15:19
 30      Full Moon  2021 Aug 22                 12:02
 31   Last Quarter  2021 Aug 30                 07:13
 32       New Moon   2021 Sep 7                 00:52
 33  First Quarter  2021 Sep 13                 20:39
 34      Full Moon  2021 Sep 20                 23:55
 35   Last Quarter  2021 Sep 29                 01:57
 36       New Moon   2021 Oct 6                 11:05
 37  First Quarter  2021 Oct 13                 03:25
 38      Full Moon  2021 Oct 20                 14:57
 39   Last Quarter  2021 Oct 28                 20:05
 40       New Moon   2021 Nov 4                 21:14
 41  First Quarter  2021 Nov 11                 12:46
 42      Full Moon  2021 Nov 19                 08:57
 43   Last Quarter  2021 Nov 27                 12:28
 44       New Moon   2021 Dec 4                 07:43
 45  First Quarter  2021 Dec 11                 01:35
 46      Full Moon  2021 Dec 19                 04:35
 47   Last Quarter  2021 Dec 27                 02:24
 48       New Moon   2022 Jan 2                 18:33
 49  First Quarter   2022 Jan 9                 18:11]

In [9]:
# Create DataFrame and display top 5 rows
moon_data_2021_df = moon_data_2021[0]
moon_data_2021_df.info()
moon_data_2021_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0       New Moon  2021 Jan 13                 05:00
1  First Quarter  2021 Jan 20                 21:01
2      Full Moon  2021 Jan 28                 19:16
3   Last Quarter   2021 Feb 4                 17:37
4       New Moon  2021 Feb 11                 19:06

In [10]:
# Read in moon data from 2020
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2020-01-10&nump=50&format=t&submit=Get+Data'
moon_data_2020 = pd.read_html(url)
moon_data_2020

[       Moon Phase         Date Time (Universal Time)
 0       Full Moon  2020 Jan 10                 19:21
 1    Last Quarter  2020 Jan 17                 12:58
 2        New Moon  2020 Jan 24                 21:42
 3   First Quarter   2020 Feb 2                 01:42
 4       Full Moon   2020 Feb 9                 07:33
 5    Last Quarter  2020 Feb 15                 22:17
 6        New Moon  2020 Feb 23                 15:32
 7   First Quarter   2020 Mar 2                 19:57
 8       Full Moon   2020 Mar 9                 17:48
 9    Last Quarter  2020 Mar 16                 09:34
 10       New Moon  2020 Mar 24                 09:28
 11  First Quarter   2020 Apr 1                 10:21
 12      Full Moon   2020 Apr 8                 02:35
 13   Last Quarter  2020 Apr 14                 22:56
 14       New Moon  2020 Apr 23                 02:26
 15  First Quarter  2020 Apr 30                 20:38
 16      Full Moon   2020 May 7                 10:45
 17   Last Quarter  2020 May 14                 14:03
 18       New Moon  2020 May 22                 17:39
 19  First Quarter  2020 May 30                 03:30
 20      Full Moon   2020 Jun 5                 19:12
 21   Last Quarter  2020 Jun 13                 06:24
 22       New Moon  2020 Jun 21                 06:41
 23  First Quarter  2020 Jun 28                 08:16
 24      Full Moon   2020 Jul 5                 04:44
 25   Last Quarter  2020 Jul 12                 23:29
 26       New Moon  2020 Jul 20                 17:33
 27  First Quarter  2020 Jul 27                 12:32
 28      Full Moon   2020 Aug 3                 15:59
 29   Last Quarter  2020 Aug 11                 16:45
 30       New Moon  2020 Aug 19                 02:42
 31  First Quarter  2020 Aug 25                 17:58
 32      Full Moon   2020 Sep 2                 05:22
 33   Last Quarter  2020 Sep 10                 09:26
 34       New Moon  2020 Sep 17                 11:00
 35  First Quarter  2020 Sep 24                 01:55
 36      Full Moon   2020 Oct 1                 21:05
 37   Last Quarter  2020 Oct 10                 00:39
 38       New Moon  2020 Oct 16                 19:31
 39  First Quarter  2020 Oct 23                 13:23
 40      Full Moon  2020 Oct 31                 14:49
 41   Last Quarter   2020 Nov 8                 13:46
 42       New Moon  2020 Nov 15                 05:07
 43  First Quarter  2020 Nov 22                 04:45
 44      Full Moon  2020 Nov 30                 09:30
 45   Last Quarter   2020 Dec 8                 00:36
 46       New Moon  2020 Dec 14                 16:16
 47  First Quarter  2020 Dec 21                 23:41
 48      Full Moon  2020 Dec 30                 03:28
 49   Last Quarter   2021 Jan 6                 09:37]

In [11]:
# Create DataFrame and display top 5 rows
moon_data_2020_df = moon_data_2020[0]
moon_data_2020_df.info()
moon_data_2020_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0      Full Moon  2020 Jan 10                 19:21
1   Last Quarter  2020 Jan 17                 12:58
2       New Moon  2020 Jan 24                 21:42
3  First Quarter   2020 Feb 2                 01:42
4      Full Moon   2020 Feb 9                 07:33

In [12]:
# Read in moon data from 2019
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2019-01-10&nump=50&format=t&submit=Get+Data'
moon_data_2019 = pd.read_html(url)
moon_data_2019

[       Moon Phase         Date Time (Universal Time)
 0   First Quarter  2019 Jan 14                 06:45
 1       Full Moon  2019 Jan 21                 05:16
 2    Last Quarter  2019 Jan 27                 21:10
 3        New Moon   2019 Feb 4                 21:04
 4   First Quarter  2019 Feb 12                 22:26
 5       Full Moon  2019 Feb 19                 15:53
 6    Last Quarter  2019 Feb 26                 11:28
 7        New Moon   2019 Mar 6                 16:04
 8   First Quarter  2019 Mar 14                 10:27
 9       Full Moon  2019 Mar 21                 01:43
 10   Last Quarter  2019 Mar 28                 04:10
 11       New Moon   2019 Apr 5                 08:50
 12  First Quarter  2019 Apr 12                 19:06
 13      Full Moon  2019 Apr 19                 11:12
 14   Last Quarter  2019 Apr 26                 22:18
 15       New Moon   2019 May 4                 22:45
 16  First Quarter  2019 May 12                 01:12
 17      Full Moon  2019 May 18                 21:11
 18   Last Quarter  2019 May 26                 16:34
 19       New Moon   2019 Jun 3                 10:02
 20  First Quarter  2019 Jun 10                 05:59
 21      Full Moon  2019 Jun 17                 08:31
 22   Last Quarter  2019 Jun 25                 09:46
 23       New Moon   2019 Jul 2                 19:16
 24  First Quarter   2019 Jul 9                 10:55
 25      Full Moon  2019 Jul 16                 21:38
 26   Last Quarter  2019 Jul 25                 01:18
 27       New Moon   2019 Aug 1                 03:12
 28  First Quarter   2019 Aug 7                 17:31
 29      Full Moon  2019 Aug 15                 12:29
 30   Last Quarter  2019 Aug 23                 14:56
 31       New Moon  2019 Aug 30                 10:37
 32  First Quarter   2019 Sep 6                 03:10
 33      Full Moon  2019 Sep 14                 04:33
 34   Last Quarter  2019 Sep 22                 02:41
 35       New Moon  2019 Sep 28                 18:26
 36  First Quarter   2019 Oct 5                 16:47
 37      Full Moon  2019 Oct 13                 21:08
 38   Last Quarter  2019 Oct 21                 12:39
 39       New Moon  2019 Oct 28                 03:38
 40  First Quarter   2019 Nov 4                 10:23
 41      Full Moon  2019 Nov 12                 13:34
 42   Last Quarter  2019 Nov 19                 21:11
 43       New Moon  2019 Nov 26                 15:06
 44  First Quarter   2019 Dec 4                 06:58
 45      Full Moon  2019 Dec 12                 05:12
 46   Last Quarter  2019 Dec 19                 04:57
 47       New Moon  2019 Dec 26                 05:13
 48  First Quarter   2020 Jan 3                 04:45
 49      Full Moon  2020 Jan 10                 19:21]

In [13]:
# Create DataFrame and display top 5 rows
moon_data_2019_df = moon_data_2019[0]
moon_data_2019_df.info()
moon_data_2019_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0  First Quarter  2019 Jan 14                 06:45
1      Full Moon  2019 Jan 21                 05:16
2   Last Quarter  2019 Jan 27                 21:10
3       New Moon   2019 Feb 4                 21:04
4  First Quarter  2019 Feb 12                 22:26

In [14]:
# Read in moon data from 2018
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2018-01-10&nump=50&format=t&submit=Get+Data'
moon_data_2018 = pd.read_html(url)
moon_data_2018

[       Moon Phase         Date Time (Universal Time)
 0        New Moon  2018 Jan 17                 02:17
 1   First Quarter  2018 Jan 24                 22:20
 2       Full Moon  2018 Jan 31                 13:27
 3    Last Quarter   2018 Feb 7                 15:54
 4        New Moon  2018 Feb 15                 21:05
 5   First Quarter  2018 Feb 23                 08:09
 6       Full Moon   2018 Mar 2                 00:51
 7    Last Quarter   2018 Mar 9                 11:20
 8        New Moon  2018 Mar 17                 13:12
 9   First Quarter  2018 Mar 24                 15:35
 10      Full Moon  2018 Mar 31                 12:37
 11   Last Quarter   2018 Apr 8                 07:17
 12       New Moon  2018 Apr 16                 01:57
 13  First Quarter  2018 Apr 22                 21:46
 14      Full Moon  2018 Apr 30                 00:58
 15   Last Quarter   2018 May 8                 02:09
 16       New Moon  2018 May 15                 11:48
 17  First Quarter  2018 May 22                 03:49
 18      Full Moon  2018 May 29                 14:19
 19   Last Quarter   2018 Jun 6                 18:32
 20       New Moon  2018 Jun 13                 19:43
 21  First Quarter  2018 Jun 20                 10:51
 22      Full Moon  2018 Jun 28                 04:53
 23   Last Quarter   2018 Jul 6                 07:51
 24       New Moon  2018 Jul 13                 02:48
 25  First Quarter  2018 Jul 19                 19:52
 26      Full Moon  2018 Jul 27                 20:20
 27   Last Quarter   2018 Aug 4                 18:18
 28       New Moon  2018 Aug 11                 09:58
 29  First Quarter  2018 Aug 18                 07:48
 30      Full Moon  2018 Aug 26                 11:56
 31   Last Quarter   2018 Sep 3                 02:37
 32       New Moon   2018 Sep 9                 18:01
 33  First Quarter  2018 Sep 16                 23:15
 34      Full Moon  2018 Sep 25                 02:52
 35   Last Quarter   2018 Oct 2                 09:45
 36       New Moon   2018 Oct 9                 03:47
 37  First Quarter  2018 Oct 16                 18:02
 38      Full Moon  2018 Oct 24                 16:45
 39   Last Quarter  2018 Oct 31                 16:40
 40       New Moon   2018 Nov 7                 16:02
 41  First Quarter  2018 Nov 15                 14:54
 42      Full Moon  2018 Nov 23                 05:39
 43   Last Quarter  2018 Nov 30                 00:19
 44       New Moon   2018 Dec 7                 07:20
 45  First Quarter  2018 Dec 15                 11:49
 46      Full Moon  2018 Dec 22                 17:49
 47   Last Quarter  2018 Dec 29                 09:34
 48       New Moon   2019 Jan 6                 01:28
 49  First Quarter  2019 Jan 14                 06:45]

In [15]:
# Create DataFrame and display top 5 rows
moon_data_2018_df = moon_data_2018[0]
moon_data_2018_df.info()
moon_data_2018_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0       New Moon  2018 Jan 17                 02:17
1  First Quarter  2018 Jan 24                 22:20
2      Full Moon  2018 Jan 31                 13:27
3   Last Quarter   2018 Feb 7                 15:54
4       New Moon  2018 Feb 15                 21:05

In [16]:
# Read in moon data from 2017
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2017-01-10&nump=50&format=t&submit=Get+Data'
moon_data_2017 = pd.read_html(url)
moon_data_2017

[       Moon Phase         Date Time (Universal Time)
 0       Full Moon  2017 Jan 12                 11:34
 1    Last Quarter  2017 Jan 19                 22:13
 2        New Moon  2017 Jan 28                 00:07
 3   First Quarter   2017 Feb 4                 04:19
 4       Full Moon  2017 Feb 11                 00:33
 5    Last Quarter  2017 Feb 18                 19:33
 6        New Moon  2017 Feb 26                 14:58
 7   First Quarter   2017 Mar 5                 11:32
 8       Full Moon  2017 Mar 12                 14:54
 9    Last Quarter  2017 Mar 20                 15:58
 10       New Moon  2017 Mar 28                 02:57
 11  First Quarter   2017 Apr 3                 18:39
 12      Full Moon  2017 Apr 11                 06:08
 13   Last Quarter  2017 Apr 19                 09:57
 14       New Moon  2017 Apr 26                 12:16
 15  First Quarter   2017 May 3                 02:47
 16      Full Moon  2017 May 10                 21:42
 17   Last Quarter  2017 May 19                 00:33
 18       New Moon  2017 May 25                 19:44
 19  First Quarter   2017 Jun 1                 12:42
 20      Full Moon   2017 Jun 9                 13:10
 21   Last Quarter  2017 Jun 17                 11:33
 22       New Moon  2017 Jun 24                 02:31
 23  First Quarter   2017 Jul 1                 00:51
 24      Full Moon   2017 Jul 9                 04:07
 25   Last Quarter  2017 Jul 16                 19:26
 26       New Moon  2017 Jul 23                 09:46
 27  First Quarter  2017 Jul 30                 15:23
 28      Full Moon   2017 Aug 7                 18:11
 29   Last Quarter  2017 Aug 15                 01:15
 30       New Moon  2017 Aug 21                 18:30
 31  First Quarter  2017 Aug 29                 08:13
 32      Full Moon   2017 Sep 6                 07:03
 33   Last Quarter  2017 Sep 13                 06:25
 34       New Moon  2017 Sep 20                 05:30
 35  First Quarter  2017 Sep 28                 02:53
 36      Full Moon   2017 Oct 5                 18:40
 37   Last Quarter  2017 Oct 12                 12:25
 38       New Moon  2017 Oct 19                 19:12
 39  First Quarter  2017 Oct 27                 22:22
 40      Full Moon   2017 Nov 4                 05:23
 41   Last Quarter  2017 Nov 10                 20:36
 42       New Moon  2017 Nov 18                 11:42
 43  First Quarter  2017 Nov 26                 17:03
 44      Full Moon   2017 Dec 3                 15:47
 45   Last Quarter  2017 Dec 10                 07:51
 46       New Moon  2017 Dec 18                 06:30
 47  First Quarter  2017 Dec 26                 09:20
 48      Full Moon   2018 Jan 2                 02:24
 49   Last Quarter   2018 Jan 8                 22:25]

In [17]:
# Create DataFrame and display top 5 rows
moon_data_2017_df = moon_data_2017[0]
moon_data_2017_df.info()
moon_data_2017_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0      Full Moon  2017 Jan 12                 11:34
1   Last Quarter  2017 Jan 19                 22:13
2       New Moon  2017 Jan 28                 00:07
3  First Quarter   2017 Feb 4                 04:19
4      Full Moon  2017 Feb 11                 00:33

In [18]:
# Read in moon data from 2016
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2016-01-10&nump=50&format=t&submit=Get+Data'
moon_data_2016 = pd.read_html(url)
moon_data_2016

[       Moon Phase         Date Time (Universal Time)
 0        New Moon  2016 Jan 10                 01:30
 1   First Quarter  2016 Jan 16                 23:26
 2       Full Moon  2016 Jan 24                 01:46
 3    Last Quarter   2016 Feb 1                 03:28
 4        New Moon   2016 Feb 8                 14:39
 5   First Quarter  2016 Feb 15                 07:46
 6       Full Moon  2016 Feb 22                 18:20
 7    Last Quarter   2016 Mar 1                 23:11
 8        New Moon   2016 Mar 9                 01:54
 9   First Quarter  2016 Mar 15                 17:03
 10      Full Moon  2016 Mar 23                 12:01
 11   Last Quarter  2016 Mar 31                 15:17
 12       New Moon   2016 Apr 7                 11:24
 13  First Quarter  2016 Apr 14                 03:59
 14      Full Moon  2016 Apr 22                 05:24
 15   Last Quarter  2016 Apr 30                 03:29
 16       New Moon   2016 May 6                 19:29
 17  First Quarter  2016 May 13                 17:02
 18      Full Moon  2016 May 21                 21:14
 19   Last Quarter  2016 May 29                 12:12
 20       New Moon   2016 Jun 5                 03:00
 21  First Quarter  2016 Jun 12                 08:10
 22      Full Moon  2016 Jun 20                 11:02
 23   Last Quarter  2016 Jun 27                 18:19
 24       New Moon   2016 Jul 4                 11:01
 25  First Quarter  2016 Jul 12                 00:52
 26      Full Moon  2016 Jul 19                 22:56
 27   Last Quarter  2016 Jul 26                 23:00
 28       New Moon   2016 Aug 2                 20:44
 29  First Quarter  2016 Aug 10                 18:21
 30      Full Moon  2016 Aug 18                 09:26
 31   Last Quarter  2016 Aug 25                 03:41
 32       New Moon   2016 Sep 1                 09:03
 33  First Quarter   2016 Sep 9                 11:49
 34      Full Moon  2016 Sep 16                 19:05
 35   Last Quarter  2016 Sep 23                 09:56
 36       New Moon   2016 Oct 1                 00:11
 37  First Quarter   2016 Oct 9                 04:33
 38      Full Moon  2016 Oct 16                 04:23
 39   Last Quarter  2016 Oct 22                 19:14
 40       New Moon  2016 Oct 30                 17:38
 41  First Quarter   2016 Nov 7                 19:51
 42      Full Moon  2016 Nov 14                 13:52
 43   Last Quarter  2016 Nov 21                 08:33
 44       New Moon  2016 Nov 29                 12:18
 45  First Quarter   2016 Dec 7                 09:03
 46      Full Moon  2016 Dec 14                 00:05
 47   Last Quarter  2016 Dec 21                 01:56
 48       New Moon  2016 Dec 29                 06:53
 49  First Quarter   2017 Jan 5                 19:47]

In [19]:
# Create DataFrame and display top 5 rows
moon_data_2016_df = moon_data_2016[0]
moon_data_2016_df.info()
moon_data_2016_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0       New Moon  2016 Jan 10                 01:30
1  First Quarter  2016 Jan 16                 23:26
2      Full Moon  2016 Jan 24                 01:46
3   Last Quarter   2016 Feb 1                 03:28
4       New Moon   2016 Feb 8                 14:39

In [20]:
# Read in moon data from 2015
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2015-01-10&nump=50&format=t&submit=Get+Data'
moon_data_2015 = pd.read_html(url)
moon_data_2015

[       Moon Phase         Date Time (Universal Time)
 0    Last Quarter  2015 Jan 13                 09:46
 1        New Moon  2015 Jan 20                 13:14
 2   First Quarter  2015 Jan 27                 04:48
 3       Full Moon   2015 Feb 3                 23:09
 4    Last Quarter  2015 Feb 12                 03:50
 5        New Moon  2015 Feb 18                 23:47
 6   First Quarter  2015 Feb 25                 17:14
 7       Full Moon   2015 Mar 5                 18:05
 8    Last Quarter  2015 Mar 13                 17:48
 9        New Moon  2015 Mar 20                 09:36
 10  First Quarter  2015 Mar 27                 07:43
 11      Full Moon   2015 Apr 4                 12:05
 12   Last Quarter  2015 Apr 12                 03:44
 13       New Moon  2015 Apr 18                 18:57
 14  First Quarter  2015 Apr 25                 23:55
 15      Full Moon   2015 May 4                 03:42
 16   Last Quarter  2015 May 11                 10:36
 17       New Moon  2015 May 18                 04:13
 18  First Quarter  2015 May 25                 17:19
 19      Full Moon   2015 Jun 2                 16:19
 20   Last Quarter   2015 Jun 9                 15:42
 21       New Moon  2015 Jun 16                 14:05
 22  First Quarter  2015 Jun 24                 11:02
 23      Full Moon   2015 Jul 2                 02:20
 24   Last Quarter   2015 Jul 8                 20:24
 25       New Moon  2015 Jul 16                 01:24
 26  First Quarter  2015 Jul 24                 04:04
 27      Full Moon  2015 Jul 31                 10:43
 28   Last Quarter   2015 Aug 7                 02:03
 29       New Moon  2015 Aug 14                 14:53
 30  First Quarter  2015 Aug 22                 19:31
 31      Full Moon  2015 Aug 29                 18:35
 32   Last Quarter   2015 Sep 5                 09:54
 33       New Moon  2015 Sep 13                 06:41
 34  First Quarter  2015 Sep 21                 08:59
 35      Full Moon  2015 Sep 28                 02:50
 36   Last Quarter   2015 Oct 4                 21:06
 37       New Moon  2015 Oct 13                 00:06
 38  First Quarter  2015 Oct 20                 20:31
 39      Full Moon  2015 Oct 27                 12:05
 40   Last Quarter   2015 Nov 3                 12:24
 41       New Moon  2015 Nov 11                 17:47
 42  First Quarter  2015 Nov 19                 06:27
 43      Full Moon  2015 Nov 25                 22:44
 44   Last Quarter   2015 Dec 3                 07:40
 45       New Moon  2015 Dec 11                 10:29
 46  First Quarter  2015 Dec 18                 15:14
 47      Full Moon  2015 Dec 25                 11:11
 48   Last Quarter   2016 Jan 2                 05:30
 49       New Moon  2016 Jan 10                 01:30]

In [21]:
# Create DataFrame and display top 5 rows
moon_data_2015_df = moon_data_2015[0]
moon_data_2015_df.info()
moon_data_2015_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0   Last Quarter  2015 Jan 13                 09:46
1       New Moon  2015 Jan 20                 13:14
2  First Quarter  2015 Jan 27                 04:48
3      Full Moon   2015 Feb 3                 23:09
4   Last Quarter  2015 Feb 12                 03:50

In [22]:
# Read in moon data from 2014
url = 'https://aa.usno.navy.mil/calculated/moon/phases?date=2014-01-10&nump=50&format=t&submit=Get+Data'
moon_data_2014 = pd.read_html(url)
moon_data_2014

[       Moon Phase         Date Time (Universal Time)
 0       Full Moon  2014 Jan 16                 04:52
 1    Last Quarter  2014 Jan 24                 05:19
 2        New Moon  2014 Jan 30                 21:38
 3   First Quarter   2014 Feb 6                 19:22
 4       Full Moon  2014 Feb 14                 23:53
 5    Last Quarter  2014 Feb 22                 17:15
 6        New Moon   2014 Mar 1                 08:00
 7   First Quarter   2014 Mar 8                 13:27
 8       Full Moon  2014 Mar 16                 17:08
 9    Last Quarter  2014 Mar 24                 01:46
 10       New Moon  2014 Mar 30                 18:45
 11  First Quarter   2014 Apr 7                 08:31
 12      Full Moon  2014 Apr 15                 07:42
 13   Last Quarter  2014 Apr 22                 07:52
 14       New Moon  2014 Apr 29                 06:14
 15  First Quarter   2014 May 7                 03:15
 16      Full Moon  2014 May 14                 19:16
 17   Last Quarter  2014 May 21                 12:59
 18       New Moon  2014 May 28                 18:40
 19  First Quarter   2014 Jun 5                 20:39
 20      Full Moon  2014 Jun 13                 04:11
 21   Last Quarter  2014 Jun 19                 18:39
 22       New Moon  2014 Jun 27                 08:08
 23  First Quarter   2014 Jul 5                 11:59
 24      Full Moon  2014 Jul 12                 11:25
 25   Last Quarter  2014 Jul 19                 02:08
 26       New Moon  2014 Jul 26                 22:42
 27  First Quarter   2014 Aug 4                 00:50
 28      Full Moon  2014 Aug 10                 18:09
 29   Last Quarter  2014 Aug 17                 12:26
 30       New Moon  2014 Aug 25                 14:13
 31  First Quarter   2014 Sep 2                 11:11
 32      Full Moon   2014 Sep 9                 01:38
 33   Last Quarter  2014 Sep 16                 02:05
 34       New Moon  2014 Sep 24                 06:14
 35  First Quarter   2014 Oct 1                 19:33
 36      Full Moon   2014 Oct 8                 10:51
 37   Last Quarter  2014 Oct 15                 19:12
 38       New Moon  2014 Oct 23                 21:57
 39  First Quarter  2014 Oct 31                 02:48
 40      Full Moon   2014 Nov 6                 22:23
 41   Last Quarter  2014 Nov 14                 15:15
 42       New Moon  2014 Nov 22                 12:32
 43  First Quarter  2014 Nov 29                 10:06
 44      Full Moon   2014 Dec 6                 12:27
 45   Last Quarter  2014 Dec 14                 12:51
 46       New Moon  2014 Dec 22                 01:36
 47  First Quarter  2014 Dec 28                 18:31
 48      Full Moon   2015 Jan 5                 04:53
 49   Last Quarter  2015 Jan 13                 09:46]

In [23]:
# Create DataFrame and display top 5 rows
moon_data_2014_df = moon_data_2014[0]
moon_data_2014_df.info()
moon_data_2014_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Moon Phase             50 non-null     object
 1   Date                   50 non-null     object
 2   Time (Universal Time)  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

      Moon Phase         Date Time (Universal Time)
0      Full Moon  2014 Jan 16                 04:52
1   Last Quarter  2014 Jan 24                 05:19
2       New Moon  2014 Jan 30                 21:38
3  First Quarter   2014 Feb 6                 19:22
4      Full Moon  2014 Feb 14                 23:53

In [24]:
# List of DataFrames from 2014 - 2024
moon_data_list = [moon_data_2023_df, moon_data_2022_df, moon_data_2021_df, moon_data_2020_df, moon_data_2019_df, moon_data_2018_df, 
                 moon_data_2017_df, moon_data_2016_df, moon_data_2015_df, moon_data_2014_df]

# Concantenate
moon_data = pd.concat(moon_data_list, axis=0)
moon_data.reset_index()
moon_data.head(-1)

# Change Time column type to datetime 
moon_data['Date'] = pd.to_datetime(moon_data['Date'])
moon_data.head(-1)

       Moon Phase       Date Time (Universal Time)
0    Last Quarter 2023-01-15                 02:10
1        New Moon 2023-01-21                 20:53
2   First Quarter 2023-01-28                 15:19
3       Full Moon 2023-02-05                 18:28
4    Last Quarter 2023-02-13                 16:01
..            ...        ...                   ...
44      Full Moon 2014-12-06                 12:27
45   Last Quarter 2014-12-14                 12:51
46       New Moon 2014-12-22                 01:36
47  First Quarter 2014-12-28                 18:31
48      Full Moon 2015-01-05                 04:53

[499 rows x 3 columns]

In [25]:
# Export to CSV
moon_data.to_csv('moon_data_export.csv', index=False, header=True)